* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;


    padding: 0;
    margin: 0;
}


$substrate-bg: #f1f1f1;
$substrate-icon: #FFCC00;
$substrate-info: #FFCC00;
$substrate-border: #FFCC00;
$substrate-text: #000000;
$border-color: #FFCC00;


