@import "./../global/global.scss";


$breakpoint: 900px; 
$button-size: 60px;
$icon-size: 30px;
$social-icon-size: 50px;
$social-icon-inner-size: 25px;

$box-width: 1000px;
$box-height: 100px;
$mobile-height: 500px;


@mixin substrate($bg-color: $substrate-bg, $border-color: $border-color) {
  background-color: $bg-color;
  border: 2px solid $border-color;
}

@mixin rounded($bg-color: $substrate-icon) {
  background-color: $bg-color;
  border-radius: 50%;
}

// Контейнер с адаптивной версткой
.container {
  
  margin: 100px; // Уменьшенные отступы для мобильных устройств
  display: flex; // Используем flex для лучшей адаптации
  flex-direction: column; // Вертикальное расположение элементов на мобильных
}

// Кнопка с закругленными углами
.rounded-btn {
  @include rounded;
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: $button-size;
  height: $button-size;
  text-align: center;
  margin: auto;

  svg {
    position: absolute;
    margin: auto;
    width: $icon-size;
    fill: white;
  }

  transition: 0.3s;
}

.rounded-btn:hover {
  padding: 5px; 
}

.substrate-box-about {
  @include substrate($substrate-bg, $border-color);
  color: $substrate-text;
  flex: 1;


  width: 80%;
  height: 1000px;
  overflow: hidden;
  margin: 0;

  padding: 20px;

  *, span{
    padding-bottom: 20px;
  }
  .sub-text-about{
    padding-bottom: 20px;
    width: 90%;
  }
  

  @media (min-width: $breakpoint) {
    width: $box-width;
    height: $box-height;
    margin: auto;
  }
}

// Общий блок с адаптацией под размер экрана
.substrate-box {
  @include substrate($substrate-bg, $border-color);
  color: $substrate-info;
  flex: 1;
  display: flex;
  
  width: 100%;
  height: 800px;
  overflow: hidden;
  margin: 0;

  @media (min-width: $breakpoint) {
    flex-direction: row;
    width: $box-width;
    height: $box-height;
    margin: auto;
  }
}

// Блок иконки соцсетей
.substrate-box-socialmedia {
  @include rounded($substrate-icon);
  width: $social-icon-size;
  height: $social-icon-size;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    fill: white;
    width: $social-icon-inner-size;
  }
}


.social-media-box {
  display: flex;
  flex-wrap: wrap; // Возможность переносить элементы на новые строки
  justify-content: space-around; // Распределение элементов равномерно
  width: 100%;
  padding: 10px;
  gap: 10px;
}


.social-media-contacts {
  display: block;
  padding: 10px;
  text-align: center;
  h2{
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 10px;
    
  }
  
  svg{
    padding-right: 10px;
    font-size: 10px;
  }
}

// Блок информации
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: $mobile-height;

  
}
